body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  max-width: 1280px;
  background-color: bisque;
  color: chocolate;
  margin: 0 auto;
  padding: 2rem;
  
}
